{% extends 'base.html.twig' %}

{% block body %}

<center>
    <h2>Liste des références disponibles</h2>
</center>

<reference>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for reference in references %}
            <tr>
                <td>{{ reference.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</reference>



{% endblock %}